$color-background: #fff;
$color-background-light: #FAFAFA;
$color-text: #000;
$color-text-desc: #75767C;
$color-primary: #EE403D;
$color-success: #47B486;
$color-success-dark: #287C58;
$color-success-light: #C9E3D8;
$color-warning: #F5AF28;
$color-warning-light: #F4E3D1;
$color-danger: #F4344F;
$color-info: #AEB9BE;
$color-border: #DEE0EA;
$color-form-border: #ddd;
$color-form-active: #8F8F8F;
$color-form-placeholder: #75767C;
$color-form-input-background: #F1F1F3;
$font-primary: "Jost", sans-serif;
$font-secondary: "Jost", sans-serif;
$size-site-width: 1290px;
$size-form-height: 42px;